/* Base layout styling */
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $bg-color;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* Main header styling */
header {
  position: fixed;
  width: 100%;
  background-color: $primary-color;
  box-shadow: $header-shadow;
  z-index: $main-header;
  
  .brand {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 10px;
  }
}
